li {
	font-style: bold;
	color: blue;
	font-family: 'cursive';
	font-style: italic;
}
th {
	font-style: bold;		
}
h4{
	font-family:'fantasy' ;
	text-align:center;
	padding:20px;
	width:340px;
	margin: 0 auto;

	/* Set the border and border image properties */
	border:30px solid transparent;
	border-image:url(http://www.gifstop.com/images/borders/blueborder.gif) 30 30 round;
}
td {
	text-align: center;
}
h3 { 
	  font-family:'Comic Sans MS' ;
}

.link:hover{
background-color: teal;
text-decoration:underline;
}

a:link {
	text-decoration: none ;
}

a:visited {
	text-decoration: none ;
}
Tbody tr:nth-child (even) {
	Background-color: teal ;
}

Tbody tr:nth-child (odd) {
	Background-color: purple;
}






