h1 {
	text-align:center;
	font-family:'Comic Sans MS' ;
}

h5{
	text-align:center;
	font-size: 125%;
	font-weight: normal;
}

h6 {
	text-align:center;
}

footer {
	text-align:center;
	color: black;
}

span {
	font-style: bold ;
}

a {
	text-decoration: underline;
	font-weight: none;
}

a:link {
	color: Green ;
	font-style: underline ;
}

a:visited {
	color: Red ;
	font-style: underline ;
}

a:active {
	text-decoration: none;
}

.link:hover{
	font-weight:bold;
	font-style: underline ;
}