#ResponsiveTable {
	width: 100% ;
	border-collapse: collapse;
}
#HeadRow {
	color: black; 
	font-style: bold;
	text-align: center;
}
h1 {
	text-align:center;
	font-family:'Comic Sans MS' ;
}
h5{
	text-align:center;
	font-size: 125%;
	font-weight: normal;
}
h6 {
	text-align:center;
}

footer {
	text-align:center;
	color: black;
}

span {
	font-style: bold ;
}

a {
	text-decoration: none;
	font-weight: none;
}

a:active { 
	text-decoration: none;
}

a:link {
	color: Green ;
	text-decoration: none;
}

a:visited {
	color: Red ;
	text-decoration: none;
}
.link:hover{
	font-weight:bold;
	text-decoration: none;
}

/* 
This resolution will take effect for any screen smaller than 760px
*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
/* Hide table headers*/
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	
