#HeadRow {
	color: black; 
	font-style: bold;
	text-align: center;
}
h1 {
	text-align:center;
	font-family:'Comic Sans MS' ;
}
h5{
	text-align:center;
	font-size: 125%;
	font-weight: normal;
}
h6 {
	text-align:center;
}

footer {
	text-align:center;
	color: black;
}

span {
	font-style: bold ;
}

a {
	text-decoration: none;
	font-weight: none;
}

a:active { 
	text-decoration: none;
}

a:link {
	color: Green ;
	text-decoration: none;
}

a:visited {
	color: Red ;
	text-decoration: none;
}
.link:hover{
	font-weight:bold;
	text-decoration: none;
}


	
