li {
	font-style: bold;
	color: blue;
	font-style: italic;
}
th {
	font-style: bold;		
}
h4{
	text-align:center;
	padding:20px;
	width:340px;
	margin: 0 auto;

	/* Set the border and border image properties */
	border:30px solid transparent;
	border-image:url(http://www.gifstop.com/images/borders/blueborder.gif) 30 30 round;
}
td {
	text-align: center;
}
h3 { 
	  font-family:'Comic Sans MS' ;
}





